h1 {
  color: green;
}
body {
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  line-height: 1.6em;
  margin:0;
}
.box-1{
background-color: grey;
color: purple;

}
.container{
    width: 80%;
    margin: auto;
    border: 5px red solid;
}
.box-2{
    border: 3px dotted #ccc;
    margin: 20px;
}
.categories{
    border: 1px grey solid;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;

}
.categories ul{
    padding:0;
    list-style: square;

}
.block{
    
}
.box-1

.container{
    border: 10px;
    padding-top: ;
}