h1 {
  color: green;
}
body {
  background-color:lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  line-height: 1.6em;
  margin:0;
}
.box-1{
background-color: grey;
color: purple;

}

.box-2{
    border: 3px dotted #ccc;
    margin: 20px;
    max-width: 100%;
}
.categories{
    border: 1px grey solid;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;

}
.categories ul{
    padding:0;
    list-style: square;

}

.box-small{
    border: 4px solid red;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: end;
    max-width: fit-content;
}
.container {
    border: 4px solid red;
    justify-content: center;
}